<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
            <h3>Information du vote</h3>
        
            <div class="form-group">
                    <label><h5>Sujet</h5></label>
                    <div>
                        <p><%= vote.subject %></p>
                        
                    </div>
            </div> 
            <form  id="form_vote" class="form" action="post">
            <div class="form-group">
                    <label><h5>Choix</h5></label>
                    <% vote.choices.forEach(function(choix) { %>
                    <div>
                        <input type="radio" name="choix" value="<%= vote.choices.indexOf(choix) %>">
                        <label ><%= choix %></label>
                    </div>
                    
      <% }); %>
                   
            </div> 
            
           </form>
           
        
            <button for="form_vote" class="btn btn-primary">Voter</button>
        
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>