<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">SimplonVOT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/sujet">Sujets <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/creer-un-sujet" data-toggle="modal" data-target="#exampleModal">Créer un sujet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resultat">Résultats</a>
      </li>
    </ul>
    <% if( locals.currentUser.login ) { %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><%= locals.currentUser.login %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Deconnexion</a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>

<br />

<% if (locals.msgFlash.message) { %>
<div class="alert alert-<%= locals.msgFlash.type %> alert-dismissible fade show mt-3" role="alert">
  <strong><%= locals.msgFlash.message %></strong>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }%>
<%- include('modals') %>